UseColor: true

Checks: >
    bugprone-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    google-*,
    hicpp-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -cppcoreguidelines-macro-usage,
    -google-runtime-references
    -hicpp-exception-baseclass,
    -hicpp-signed-bitwise,
    -readability-function-cognitive-complexity,
    -used-but-marked-unused,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -hicpp-no-array-decay,
    -modernize-use-trailing-return-type,
    -modernize-use-using,
    -hicpp-deprecated-headers,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-owning-memory,
    -hicpp-avoid-c-arrays,
    -hicpp-use-auto,
    -cppcoreguidelines-avoid-c-arrays,
    -google-readability-casting,
    -modernize-avoid-c-arrays,
    -modernize-use-auto

HeaderFilterRegex: ".*/[common|logging]/.*"
